<?php
return [
    'host'      => 'ivancisneros.pe',
    'port'      => 465,
    'secure'    => 'ssl',
    'user'      => 'sistema@ivancisneros.pe',
    'pass'      => 'CAMBIAR_POR_PASSWORD_REAL',
    'from'      => 'sistema@ivancisneros.pe',
    'from_name' => 'Ivan Cisneros',
];
